<div class="row center-xs marin-top">
	<div class="col-xs-12 col-sm-7 col-md-6 col-lg-5 sombras">
		<h5 class="fondos_h text-shadow">Crear Cuenta</h5>
   		<%= render "parciales/new" %>
	</div>
</div>


