<div class="row">
		<% @tags.each do |tag| %>
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-3">
				<div class="collection row center-align">
					<%= link_to tag.name,tag,:class =>"collection-item col-xs-12"%>
					<div style="right:5px; bottom:0px; position:absolute; ">
						<%if can? :destroy, @tag%>
							<%= link_to tag, method: :delete, data: { confirm: '¿Desea Eliminar Esto?' } do%>
								<i class="fa fa-trash-o" ></i>
							<%end%>
						<%end%>
					</div>
					<%= link_to edit_tag_path(tag) do%>
					<i class="fa fa-pencil-square-o"></i>
				<%end%>
				</div>
			</div>
		<% end %>
	</div>