<div class="col-xs-6 right-align">
	<a class="modal-trigger waves-effect waves-light btn btn-ingresar" href="#modal1">Ingresar</a>
</div>
<div class="col-xs-6 left-align">
	<a class="modal-trigger waves-effect waves-light btn btn-crear-cuenta" href="#modal2">Crear cuenta</a>
</div>