/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 /* categorias de footer */
.tag{background:#0090D5!important;padding:5px 10px!important;color:#fff!important;height:26px!important;line-height:26px!important;text-decoration:none!important;border:none!important;-webkit-transition:all .3s ease-in-out!important;t:30pxt: 30px;margin-left:3px!important;margin-top:3px!important;font-size:13px!important;-webkit-border-radius:4px!important;-moz-border-radius:4px!important;border-radius:4px!important}.tag:hover{background:#69625A!important;-webkit-border-radius:8px!important;-moz-border-radius:8px!important;border-radius:8px!important}

/* Buscador*/
ul li form input{left:50%!important;top:50%!important;width:20px!important;height:20px!important;border-style:none!important;border-radius:20px!important;padding:10px!important;outline:none!important;transition-duration:500ms!important;cursor:pointer!important;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAWpJREFUWEfNljFOxDAQRbehoKDnIjTcgYtwAHpOwhE4BA3Vig6Je9ABYZ60kZbVc5xkifRHelrleRzP2rGT3TAM0ahMQmUSKpNQmYTKJFQmoTIJlUmonMFlcV88FW/F5+GXazzt1m8xKjvcFh/FVNBOnvVfhMoJHorvgtgXzNZNcXX45RpPkEe+3Wc2KhswIwz6VTwWF4Xl4Wknj/yzZlKlwDM1LiuDW84p5BH0W/1MqhRYOoLla83cKeSNy01/y+miUmB3EksHGv8Y/a29i0qBI4RgI1h7C/IJ+lt7F5UC5xzBbrX2FuQT9Lf2LiqF+BmMfwbHgWJ3cfw5CEvfJD8FcVdY3ixUTrDkXTzGe3Fd2P26qOww92uGmaM4YnWRKmfAM8VssTs5QlrfgxR1VpEq/5mzilS5AauLVLkRq4pUuSHHRb4WlvMHlRtDkS/F85FrojIJlUmoTEJlEiqTUJmEyiRUJqEyh2H3Cz4WH1fC57RBAAAAAElFTkSuQmCC)!important;background-repeat:no-repeat!important;font-family:'Segoe UI'!important;font-size:15px!important;color:transparent!important;overflow:hidden!important}ul li form{position:relative;z-index:1000}ul li form input:focus{width:200px!important;cursor:text!important;padding-left:40px!important;color:#A0A0A0!important}ul li form input:hover{background-color:#039be5!important}ul li form input:focus{background-color:#F5F5F5!important;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAJTSURBVFiF7ZdNSxtRFIafM5PgJGqXxXy4DIziJhBdFLrwnyi4cym40S4ClkJ/g2B/Qv+BC0s3CtkIDWYZasWtXxEzebswQxGt3sk0Nou8cHfnPTycc+fOOSaJUZb3vwFe0hgwrcaAaTUGTKuRB8wMYrLZ2dxEd3rVPC2aqAoqBi0ZDfXs8DZzsad2++ZfAFrSP0m+NPdO4gtQeSasZcbK9c8f39PAQcIW50vzmxIHQEXQkGzdU2+pc6c3nnpLkq0LGkBF4iBfmt9MC+hcwX7lDgBhfOycTu5IR3ePElotGxSvthFbgJnxPlUlJb14KJdzQSE8CQqhgmJYd/EExbAeFEIFhfCEcjnn4nnqOLV4oju9Sr+tndPJHRdP53RyJ2533z+QnADN0yIAst2n2vqUpKM7ZLsP/EMDFFUAn+gwSfI4PvYPIidA9Z+U6641kySP4/X8k/Ss3CoILYB8RmGS5HF87B9EbhU0GgARfqK7FMfH/kHkBtiz+7tnWjOrZV08ZrUsprUH/mEB3mYu9oCWQTUoXm27eILi1bZBFWj1/cMDVLt9Y8YK0ENs5Upz9b9V0qyWzZXm6ogPAF6PjTSDQ6Jh4f5frE+AJ2gg2/WJDq+71sxnFEb4i5jW+pWL1fS7/vLl+fHZ0AHvId2mGa/HRs/jMxCmgUwMCO7z4NTbhZkoE+2ngRwIMInSQg595L88Pz7zu/4y0ATCKBPtT71dmHH1v8pOkgby1ZamR5DZ6KuL71W3uj+Q9k3SLxfP0D+StBr5vXgMmFZjwLQaA6bVyAP+BkJqfmMbSKF/AAAAAElFTkSuQmCC)!important}.transparent:hover{background-color:transparent!important}

/*paginacion*/
*,:before,:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.pagination > *{display:inline-block;width:30px;height:30px;border-radius:2px;line-height:30px;text-align:center;vertical-align:middle;margin:.5em 0}.pagination a{color:#444;border:1px solid rgba(255,255,255,0.5);text-decoration:none}.pagination a:hover,.pagination a:focus{color:#444;background-color:#ddd;transition:all .3s}.pagination .prev,.pagination .next{width:auto;padding:0 8px;border:none}.pagination .prev:hover,.pagination .prev:focus,.pagination .next:hover,.pagination .next:focus{background:none;text-decoration:underline}.pagination .prev.disabled,.pagination .next.disabled{text-decoration:none}.current{background-color:#26a69a;border:1px solid #fff;color:#fff;font-weight:700;font-style:normal}.disabled{color:#999}

/*Redes sociales botones*/
a,a:hover{text-decoration:none;cursor:pointer}.share-post{text-align:center;padding:25px 0 0;font-family:'Roboto Condensed',sans-serif}.widget .post-body &gt; .share-post ul{padding:0}.share-post li{display:inline-block;margin:0 1% 15px;padding:0;list-style:none;position:relative;transition:all ease-out .2s;width:100%}.share-post li a{padding:5px 15px 6px 38px;color:#fff;display:block;font-size:15px;font-weight:700;line-height:22px;border-radius:10px 3px;text-shadow:2px 2px rgba(0,0,0,0.1);box-shadow:0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);transition:all .6s ease-out}.share-post li .facebook{background:#3b5998}.share-post li .twitter{background:#19bfe5}.share-post li .gplus{background:#d64136}.share-post li .fa:before{position:absolute;top:0;left:0;display:inline-block;padding:6.3px 12px;font-family:fontawesome;text-align:center;line-height:20px;font-size:16px}.share-post li:hover{opacity:.8}.share-post li:hover a{color:#fff}.share-post li .fa{display:initial}#share-menu,.share-post li.whatsapp-mobile{display:none}


.button {
  background:#DCE0E0;
  position:relative;
  display: inline-block;
  width:168px;
  height:40px; 
  overflow:hidden;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.button .icon {
  float:left;
  z-index:200;
  position:relative;
  width:40px;
  height:40px;
  -webkit-border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  border-radius:3px 0px 0px 3px;
  background-repeat:no-repeat;
  text-align: center !important;
  vertical-align: middle;
}
.button .icon i{
	color: #eee !important;
	vertical-align: -webkit-baseline-middle !important;
}
.button .native_button {
  right: 0px;
  width:110px!important;
  height:40px!important;
  float:left!important;
  background:#DCE0E0 !important;
  display:table!important;
}
.button .native_button > div {
  display:table-cell!important;
  vertical-align:middle!important;
  text-align:center!important;
}
.button .slide {
  position:absolute!important;
  right:0!important;
  top:0!important;
  z-index:100!important;
  float:left!important;
  width:128px!important;
  height:40px!important;
  transition:.2s transform linear;
  -webkit-transition:.2s -webkit-transform linear;
  -moz-transition:.2s -moz-transform linear;
}
.button .slide span {
  color:#fff!important;
  display:block!important;
  cursor:default!important;
  width:100%!important;
  text-align:center!important;
  margin:10px 0!important;
  font-size:16px!important;
  border-left:1px solid rgba(255,255,255,0.35)!important;
}
/* Transitions */
.button.slide_x:hover .slide {
  -webkit-transform:translateX(110px);
  -moz-transform:translateX(110px);
  transform:translateX(130px);
}
.button.slide_nx:hover .slide {
  -webkit-transform:translateX(-110px);
  -moz-transform:translateX(-110px);
  transform:translateX(-125px);
}
.button.slide_y:hover .slide {
  -webkit-transform:translateY(40px);
  -moz-transform:translateY(40px);
  transform:translateY(40px);
}
.button.slide_ny:hover .slide {
  -webkit-transform:translateY(-40px);
  -moz-transform:translateY(-40px);
  transform:translateY(-40px);
}
/*========================*/
/*=== Colors ===*/

/* FACEBOOK */
.button.facebook .icon {
  background-position:-40px 0;
}
.button.facebook > div {
  background-color:#305c99;
}
/* TWITTER */
.button.twitter .icon {
  background-position:0 0;
}
.button.twitter > div {
  background-color:#00cdff;
}
/* YOUTUBE */
.button.youtube .icon {
  background-position:-80px 0;
}
.button.youtube > div {
  background-color:#e22b26;
}
/* GOOGLE PLUS */
.button.gplus .icon {
  background-position:0 -40px;
}
.button.gplus > div {
  background-color:#3f3d3e;
}




/*==============*/
