/* CSS Botones para Compartir por AlexTorresSk */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);

a, a:hover{text-decoration:none;cursor:pointer;}
.share-post{text-align:center;padding:25px 0px 0px;font-family: 'Roboto Condensed', sans-serif;}
.widget .post-body &gt; .share-post ul {padding:0;}
.share-post li{display:inline-block;margin:0 1% 15px;padding:0;list-style:none;position:relative;transition:all ease-out .2s; width: 100%;}
.share-post li a{padding:5px 15px 6px 38px;color:#fff;display:block;font-size:15px;font-weight:700;line-height:22px;border-radius:10px 3px;text-shadow:2px 2px rgba(0,0,0,0.1);box-shadow:0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);transition:all 0.6s ease-out;}
.share-post li .facebook{background:#3b5998;}
.share-post li .twitter{background:#19bfe5;}
.share-post li .gplus{background:#d64136;}
.share-post li .fa:before{position:absolute;top:0;left:0;display:inline-block;padding:6.3px 12px;font-family:fontawesome;text-align:center;line-height:20px;font-size:16px;}
.share-post li:hover{opacity:.8;}
.share-post li:hover a{color:#fff;}
.share-post li .fa {display:initial;}
#share-menu, .share-post li.whatsapp-mobile{display:none;}