// Mixins
@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";

// Variables
@import "materialize/components/variables";

// Reset
@import "materialize/components/normalize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/materialbox";
@import "materialize/components/forms/forms";
@import "materialize/components/sideNav";
@import "materialize/components/slider";
//Todo el cuerpo de la pagina
body{
	background-color: #EEEEEE;
	max-width: 100%;
	text-rendering:optimizeLegibility;
	overflow-x: hidden;
}
.width-100{
	width: 100% !important;
}
.overflow-x{
	overflow-x:hidden;
}
.indicator{
	background-color: #009688 !important;
}
.width-full{
	width: 100% !important;
	.modal-content{
		padding: 10px !important;
	}
}
//categorias de la parte de arriba de la pagina
.collection-tags{
	i{
		position: absolute;
		left: 20%;
		top: 50%;
		transform: translate(-50%,-50%);
		color: #FFF;
		font-size: 1.4em;
	}
	&:hover{
		background-color:#039be5!important;
		transition: all 0.5s ease-in-out;
	}
}
.collection-tags-nav{
	a{
		height: 40px;
		line-height: 40px;
		color: #505050 !important;
		.icon-nav{
			float: right;
		}
		&:hover span{
			color: #fafafa; 
			transition: all 0.5s ease-in-out;
		}
		
		i{
			height: 40px;
			width: 40px;
			font-size: 1.3em !important;
			line-height: 40px;
			text-align: center;
		}
		&:hover .icon-nav{
			color: #fafafa;
			transition: all 0.5s ease-in-out;
		}
	}
	&:hover {
			color: #fafafa;
			transition: all 0.5s ease-in-out;
		}
	
}
.collection{
	div{
		position:relative;
		width: 100%;
		.absolute-button{
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
		.absolute-top{
			position: absolute;
			right: 0px;
			top: 0px;
		}
		
	}
}
//padding de los botones de descarga de show
.padding-button-show{
	padding: 0 1rem!important; 
}

.dropdown-content li>a, .dropdown-content li>span{
	display: inline-block !important;
	&:hover{
		background-color:transparent;
	}
}
.color-dow{
	min-width: 1rem !important;
	color: #757575 !important;
	font-size: 1em !important;
	position: relative !important;
	padding: 14px 0px !important;
}
.fullScreen{
	width: 100%;
	height: 100%;
}
.btn-ingresar{
	background-color: #03a9f4;
}
.btn-crear-cuenta{
	background-color: #00e676;
}
.parent_class .field_with_errors {
    display: inline;
  }

.card-header{
	margin: .5em 0em !important; 
}
.caracteristicas{
	font-family: 'Old Standard TT', serif;
}
#comments-box{
	background-color: #F5F5F5 !important;
}

.border-bottom{
	border-bottom: 1px solid #f1f1f1;
}
.border-top{
	border-top: 1px solid #f1f1f1;
}
.cero-padding{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.cero-margin{
	margin-bottom: 0px !important;
}
´.cero-margin-top{
	margin-top: -5px !important;
}
.avatar{
	max-width: 30% !important;
}
.marin-top{
	margin-top: 2em !important;
}
.margin-bottom{
	margin-bottom: 1em !important;
}
.margin-left{
	margin-left: 0em !important;
	img{
		display: inline!important;
		border-radius: 1em;
	}
}
.cat{
	margin: 10px;
}
.brand-logo{
	font-size: 1.5rem !important;
}
.font-color{
	color: #aeaeae;
	font-size: 13px;
}
.text-left{
	text-align: left;
}
.show-title{
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
	color: #212121 !important;
	font-size: 2rem !important;
	margin: 0px;
	font-weight: 300;
}
.version{
	font-size: 2em;
}
.show-icon{
	font-size: 15px !important;
	color: #999 !important;
	
}
.index-icon{
	height: auto !important;
	font-size: 10px !important;
	color: #999 !important;
	position: relative !important;
	span{
		position: absolute;
		left: 0px;
		top: 0px;
		padding-left: .5em !important;
		i{
			letter-spacing: .3em;
		}
	}
}
.show-color-text{
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	color: #FFF !important;
	background-color: #03a9f4;
	padding: .2em .6em .3em;
	font-size: 80%;
	border-radius: 3px;
}
.show-user{
	margin-top: 5em !important;
	color: #8d8d8d !important;
	font-style: italic;

}
.show-imagen{
	width: 100% !important;
	height: 15em !important;
}
.text-comment{
	background-color: #F5F5F5 !important;
	max-width: 100% !important;
	width: 100% !important;
}
.padding-top{
	padding-top: 1em !important;
}
aside{
	width: auto;
	height: auto;
}

.slider .slides li{
	img{
		width: 100%; 
		height: 100%; 
		background-size: 100% 100%;
	}
	.caption{
		background-color: rgba(0,0,0,0.5) !important;
	    bottom: 0!important;
	    left: 0 !important;
	    top: initial;
	    height: 4em;
	    width: 100% !important;
	}
}

.side-nav li a{
	&:hover{
		background: transparent;
	}
}

//cuard revelard cuadros reveladores del index
.cuadro-1{
	width: 10em;
	height: auto;
	margin: 10px;
	padding: 0px !important;
	border: 1px solid #d5d5d5;
	display: inline-block;
	transition: all 0.5s;
	img{
		position: relative;
		height: 8em;
	}
	.card{
		margin: 0px!important;
		overflow: hidden!important;
		.text-decoration{
				position: absolute;
				width: 4em;
				height: 4em;
				border-radius: 4.5em;
				z-index: 2;
				left: -2em;
				top: -2em;
				span{
					color: #FFF;
					position: relative;
					display: inline-block;
					text-align: center;
					top: 2.7em;
					right: -1em;
					transform:rotate(-45deg);
					font-size: 0.8em;
				}
			}
		.card-content{
			padding: 7px 0px 0px 0px;
			text-align: center;

			.card-title{
				h2{
					margin: 0px;
					font-size: 4.5rem !important;
					a{
						font-weight: 300 !important;
						text-transform: capitalize !important;
						font-size: .2em !important;
						width: 100% !important;
						height: 32px;
						display: block !important;
						color: #505050 !important;
						line-height: 1.2 !important;
						text-align: left;
						padding-left: .5em !important;
						&:hover{
							color: #03a9f4 !important;
							transition: all .3s ease-in-out;
						}

					}
				}
				i{
					font-size: 18px !important;
					padding: 0px 5px 0px 3px !important;
				}

			}
			
		}
		.card-reveal{
			padding: 5px !important;
			overflow-x: hidden!important; 
			.row{
				span{
					line-height: .7em !important;
					position: static;
					a{
						font-family: 'Old Standard TT', serif !important;
						font-size: .6em !important;
						color: #000 !important;
						text-transform: capitalize;
						&:hover{
							color: #03a9f4 !important;
							transition: all .3s ease-in-out;
						}
					}
					i{
						position: absolute !important;
						right: 0px !important;
						top: 0px !important;
						margin-left: 0px !important;
						background-color: rgba(255,255,255,0.7);

					}
				}
			}
		}
		.body{
			font-size: .8em !important;
			p{
				margin: .5em 0 0 0 !important;
				line-height: 1.3;
				font-weight: 300;
			}
		}
	}
}

.fondos_h{
	font-size: 1.5em;
	background-color: #009688;
	font-weight: 300 !important;
	color: #FFF !important;
	margin: 0;
	border-left: 20px solid #009688;
	font-family: 'Old Standard TT', serif;
	padding: 5px 0px 5px 0px;
	span,a{
		color: #fff !important;
		text-transform: capitalize;
		font-size: .8em !important;
		&:hover{
			text-decoration: none;
		}
	}
	i{
		font-size: 1.3em;
		padding-right: .5em;
		&:hover{
			color: #e0e0e0;
		}
	}
}

footer{
	background-color: #383b43 !important;
	.row{
		height: auto !important;
	}
	h5{
		border-bottom: 1px solid rgba(144, 144, 144, 0.25 );
	}
}

.copyright{
	background-color: #383b43 !important;
	color: #e0e0e0 ;
	border-top: 1px solid rgba(144, 144, 144, 0.25 );
}

nav{
	background-color: rgb(3, 169, 244);
	.button-collapse{
		i{
			font-size: 2rem !important;
			padding: 0px 1rem !important;
		}
	}
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
}
.btn-trans{
	background-color:#ede7f6  !important;
}
.oculto,#target{
	display: none;
}
.li-nav{
	a{
		height: 64px !important;
	}
	height: 64px !important;
	&:last-child{
		padding: 0em 1em !important;
	}
	
}
.ico-nav{
	font-size: 1.5em !important;
	letter-spacing: .2em !important;
}
.font-nav{
	font-size: 12px !important;
}
//buscador
.buscador{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	.input-field{
		label{
			i{
				font-size: 1.5em !important;
			}
		}
	}
}
.animacion{
	transform: translateY(0px) !important;
	transition: all 0.5s;
}
.animation-out{
	transform: translateY(-70px) !important;
	transition: all 0.5s;
}

::-webkit-scrollbar{
	width: 5px !important;
}
::-webkit-scrollbar-thumb{
	background-color: #212121 !important;
}
#image_avatar{
	img{
		width: 100% !important;
	}
}

@media #{$small-and-down} {
   	.cuadro-1{
   		width: 9.5em;
   		margin: 5px;
   	}
 }

@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.sliderP{
  		padding-right: 0px!important;
  		padding-left: 0px!important;
  		.slider{
			height: 250px!important;
			.slides{
				height: 200px!important;
			}
		}
  	}
}